body        {background-color: white; margin: 0; padding:0; z-index: 20;}
h1          {font-family: Inter; font-size: 64pt; margin: 10px;}
h2          {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';}
button      {font-family: Inter; font-size: 14pt; background-color: rgb(139, 0, 0); height: auto; text-align: center; color: white; padding-top: 3px; padding-bottom:5px; border-radius: 5%;}
table       {margin-left:50px; font-family: Inter;}
tr td       {vertical-align: top;}
img         {top: 0px; left: 0px; display:inline;}
p           { font-family: Inter; color: black;}

input [type=text]   {padding: 5pt; border: 2px rgba(91, 145, 229, 1); font-size: 18pt; background-color: white;  }    /* Standardized Textboxes */
section             {height: auto; padding-bottom: 100px; display: flex; align-items: center; justify-content: center; vertical-align: top;}
section img         {width: 100%; height: auto; padding: 0; margin: 0; box-sizing: border-box;}
footer              {height: 200px; background-color: black; vertical-align: middle;}
footer p            {font-family: Inter; color: white; font-size: 16pt; }



.header-rectangle {background-color: black; height: 35px; width: 100%; z-index: 10;}
.header {width:100%; height:10%; font-size: 48pt; z-index: 10;}
.header-main-page {font-family: Inconsolata; font-size: 48pt; height: 15%; z-index: 10}
/* .container {position: relative; text-align: center; color: white; } */
.layer-1 { z-index: 10; width: 100%; height: auto; }




/* FONTS */
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

/* Login page ----------------------------------------------- */

section .physical-container {
    width: 350px; height: auto;

    margin: auto; border: 2px solid black; border-radius: 4% 4% 4% 4%; padding: 25px; 
    justify-self: center;
    background-color:rgba(0, 0, 0, 0.8);
    position:absolute;
    z-index: 20;
}

td .physical-container {
    width: 500px; height: auto;

    margin-top: 50px; border: 2px solid black; border-radius: 4% 4% 4% 4%; 
    background-color:rgba(0, 0, 0, 0.8);
    position:sticky;
    z-index: 20;
}


.physical-container {
    width: 500px; height: auto;

    display: inline-table;

    margin: 0; border: 2px solid black; border-radius: 4% 4% 4% 4%; 
    background-color:rgba(0, 0, 0, 0.8);
    position:sticky;
    z-index: 20;
}
.physical-container h2      { font-family: Inter; color: white; }
.physical-container p       { font-family: Inter; color: white; }
.physical-container input   { float: right;}
tr .physical-container      { margin: 100px;}


.travel-planner         {font-family: Inter; z-index: 21; width: 500px;}
.travel-planner p       {font-family: Inter; font: 24pt; margin: 30px;}
.travel-planner h2      {font-family: Inter; font: 28pt; margin: 30px}
.travel-planner button  {width: 75%;}
.travel-planner input   {width: 300px;}

  

/* MAIN PAGE -------------------------------------------------------------- */

h1 img                  {vertical-align: middle;}
div h1                  {vertical-align: middle;}

.OC-Transpo-Logo        {height: 5%; width: 5%; margin: 10px; margin-bottom: 20px; vertical-align: center; }
.Arrow                  {height: 55px; margin: 10px; margin-left: 50px;}
.Arrow-Colour-Inverted  {height: 55px; margin: 10px; margin-left: 50px; filter: invert(100%) brightness(175%); }
.googleAPI              {max-width: 100%; height: auto; display: inline; border: groove; border-width: 6px; }
.contenti               {position:relative; }
footer .x-icon          {height: 5%; margin:10px; vertical-align: center; position: absolute; top: 100%; left:95%;}
footer .instagram-icon  {height: 5%; margin:10px; vertical-align: center; position: absolute; top: 100%; left:91%;}
footer .facebook        {height: 5%; margin:10px; vertical-align: center; position: absolute; top: 100%; left:87%;}
footer .youtube         {height: 5%; margin:10px; vertical-align: center; position: absolute; top: 100%; left:79%;}
.routes-container { 
    display: flex; 
    flex-direction: column;
    margin-left: 100px; 
    padding-left: 15px;
    vertical-align: top;
    min-width: 35%;
}
.routes-container h2    {font-family: Inter; font-optical-sizing: auto; font-size: 48pt; margin: 0;}
.routes-container p     {padding-left: 25px; padding-right: 25px; margin-top: 6px; margin-bottom: 12px;}
.routes-container h3    {padding-left: 25px; padding-right: 25px; margin-top: 12px; margin-bottom: 6px; font-optical-sizing: 800;}
.routes-container b     {padding-left: 25px; padding-right: 25px; margin-top: 8px; margin-bottom: 8px; font-size: 16pt;}
.routes-container div   {padding-top: 25px; padding-bottom: 25px; border-color: grey; border-width: 6px; border-left-style: solid; }

.flex-table { display: flex; align-items: left right;}

.card {

    width: 320px;
    margin: auto;
    padding: 15px;
    border: black 1px solid;
    position: fixed;
    border-radius: 12px;
    background-color: black;
    left: -300px;

    transition: left;
    transition-duration: 500ms;
    transition-timing-function: ease-in;

}

.card:hover, .sticky    { left: -10px;}
.cardstay               { position:fixed;}
.cardtext               { color: var(--pageBack); color: white; font-family: inter; }
.shiftright             { padding-left: 10%; }



/* Favourites page */

.picture {
    max-width: 50%; height: auto;
    height: fit-content;
    width: fit-content;
    position:absolute;
    left: 50%; 
    z-index: -10;
    
}
.picture-bottom {
    max-width: 50%; height: auto;
    height: fit-content;
    width: fit-content;
    position:absolute;
    top: 50%;
    z-index: -10;
}
